$white: #fff;
$light: #efeff3;
$lightGrey: #f2f2f2;
$MedGrey: #bcbcbc;
$dark: #2e2e30;
$darkgrey: #3d3c3e;
$red: #d1515a;
$blue: #091f43;
$greenLight: rgb(189, 33, 2);
$greenSecond: #FD2D01FF;
$greenPrimary: rgb(189, 33, 2);
$primaryFilter : invert(79%) sepia(48%) saturate(1876%) hue-rotate(174deg) brightness(106%) contrast(107%);
$beige: #bb8a52;
$yellow: #ffba00;
// /* font-sizes: */
$firstFont: clamp(0.55rem, 2.5vw, 1rem);
$body-firstFont: clamp(0.55rem, 2.5vw, 1rem);
$body-secondFont: clamp(0.6rem, 2.5vw, 1.2rem);
$headingFirst: clamp(0.8rem, 2.5vw, 1.5rem);;
$headingSecond: clamp(1rem, 2.5vw, 1.8rem);
$headingThird: clamp(1.2rem, 2.5vw, 2rem);
$headingFourth: clamp(2rem, 2.5vw, 2.5rem);
$largeFirst: clamp(2.2rem, 2.5vw, 2.8rem);
$largeSecond: clamp(3rem, 2.5vw, 3.5rem);
$comment-firstFont:clamp(1rem, 2.5vw, 2rem);
/* margin & padding */
$spaceSml: 1rem;
$spaceMed: 2rem;
$spaceLrg: 3rem;
$maxWidth: 15rem;
/* icon size */
$iconSize: 1.2rem;
/* post img */
$imgMedium: 8.3rem;
$imgLarge: 11rem;
