$white: #fff;
$light: #efeff3;
$lightGrey: #f2f2f2;
$MedGrey: #bcbcbc;
$dark: #2e2e30;
$darkgrey: #3d3c3e;
$red: #d1515a;
$blue: #091f43;
$greenLight: #7FDBFF;
$greenSecond: #0074D9;
$greenPrimary: #001f3f;
$primaryFilter : invert(79%) sepia(48%) saturate(1876%) hue-rotate(174deg) brightness(106%) contrast(107%);
$beige: #bb8a52;
$yellow: #ffba00;
// /* font-sizes: */
$firstFont: 1rem;
$body-firstFont: 16px;
$body-secondFont: 20px;
$headingFirst: 25px;
$headingSecond: 31.25px;
$headingThird: 39.06px;
$headingFourth: 48.83px;
$largeFirst: 61.04px;
$largeSecond: 76.29px;
$comment-firstFont:2rem;
/* margin & padding */
$spaceSml: 15px;
$spaceMed: 30px;
$spaceLrg: 60px;
$maxWidth: 540px;
/* icon size */
$iconSize: 20px;
/* post img */
$imgMedium: 300px;
$imgLarge: 400px;
